.Swipersito {
  max-width: 100%;
  max-height: 100%;
}

#recursos {
  max-width: 100vw;
  max-height: 100vh;
}

.video {
  max-width: 1000px;
  max-height: 100vh;
}

@media (max-width: 768px) {
  .Swipersito {
    max-width: 100%;
  }
}
